/*
	font-family: 'Quantico', sans-serif;
	font-family: 'Audiowide', cursive;
	font-family: 'Press Start 2P', cursive;
	font-family: 'Saira', sans-serif;
*/

html, body {
	margin: 0;
	padding: 0;
	min-width: 850px;
}

/* ScrollBar */
::-webkit-scrollbar {
	width: 14px;
	height: 14px;
}

::-webkit-scrollbar-track-piece {						/* Fond */
	background: transparent none;
	border: solid 4px transparent;
	border-right-width: 8px;
	margin: 4px;
	-webkit-box-shadow: inset 2px 1px 0 0 #259CEE;
}

::-webkit-scrollbar-track-piece:horizontal {			/* Fond pour la barre du bas */
	border-right-width: 4px;
	border-bottom-width: 8px;
}

::-webkit-scrollbar-thumb {								/* Barre */
	border: solid 0 transparent;
	border-right-width: 4px;
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 9px 5px;
	-webkit-border-bottom-right-radius: 9px 5px;
	-webkit-box-shadow: inset 0 0 0 1px rgb(79,79,79), inset 0 0 0 6px rgb(102,102,102);
}
/* fin ScrollBar */

div.content-titre {
	background: url(../img/bg2.jpg) no-repeat 50% 0%;
	padding: 72px;
}

h1.titre {
	font-family: 'Press Start 2P', cursive;
}

nav.menu-nav {
	text-align: center;
	display: block;
	background: #259CEE;
	padding: 11px;
	margin: 0 auto;
	width: 880px;
}

li.item-menu {
	display: inline-block;
}

li.item-menu a {
	background: #259CEE;
	padding: 10px;
	margin: 5px;
	font-size: 20px;
	font-family: 'Saira', sans-serif;
	color: white;
	transition: 0.2s;
}

li.item-menu a:hover {
	background: rgba(0, 0, 0, 0.3);
}

div.content-page {
	margin: 0 auto;
	width: 880px;
	margin-top: 20px;
	font-family: 'Quantico', sans-serif;
}

hr.separation {
	background: #259CEE;
}

/* index.html */
div.index-page {

}

h1.phrase-welcome {
	font-size: 25px;
}

h1.name-server {
	font-size: 25px;
	font-family: 'Press Start 2P', cursive;
	color: #4C9E22;
	text-align: center;
}
/* fin index.html */

/* game.html */
div.game-page {
	text-align: center;
}

h1.phrase-download {
	font-size: 25px;
}

a.lien-download {
	font-size: 20px;
	padding: 10px;
	color: #259CEE;
	border: 1px solid #259CEE;
	transition: 0.3s;
}

a.lien-download:hover {
	color: white;
	border: transparent;
	background: linear-gradient(45deg, #5FEED0, #5FA0EE)
}
/* fin game.html */